.section {
  display: flex;
  height: max-content;
  flex-wrap: wrap; 
  justify-content: right;

  /* flex-direction: row; */
  /* justify-content: flex-start;  */
  /* justify-content: end;  */

  width: 1040px;
  /* margin: 0 auto; */
  /* text-align: left; */
  /* background-color: rgb(83, 117, 117); */

}

.line {
  width: 100%;
  border-top: 3px solid rgb(92, 92, 92);
  margin-bottom: 5px;
}

.card {
  display: flex;
  flex-wrap: wrap; 
  /* align-items: flex-end;  */
  justify-content: flex-end;
  padding: 10px 10px 0px 0;
  margin: 0 10px 10px 0;
  font-size: 40px;
  background-color: #fffbf2;
  border: 1px solid rgb(192, 192, 192);

}

.days {
  display: flex;
  flex-wrap: wrap; 
  margin-left: 7px;
  /* justify-content: center; */

  /* background-color: #967070; */
}

.day {
  width: 35px;
  height: 50px;
  margin-left: 3px;
  background-color: #fdfdfd;
  border: 1px dotted rgb(146, 146, 146);
  text-align: center;
  align-items: center; 
  

  font-size: 40px;
}

.year{
  display: flex;
  flex-wrap: wrap; 
  margin-left: 7px;
  /* background-color: #967070; */
}
