.card {
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    width: 260px;
    height: 80px;
    background-color: #fffbf2;
    border: 1px solid rgb(192, 192, 192);

}
.task {
    display: flex;
    align-items: center; 
    /* justify-content: flex-end; */
    justify-content: center;

    color:  #4d3601;
    font-size: 30px;
    width: 200px;
}

.result{
    width: 40px;
    height: 40px;
    padding-right: 20px;
    margin-top:3px;
    margin-left: 10px;
    background-color: #fdfdfd;
    border: 1px dotted rgb(146, 146, 146);
}